@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Header **/
header {
  width: 100%;
  height: 300px;
  position: relative;
  border-bottom: 7px solid #eee;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

h1 {
  position: absolute;
  color: rgb(224, 224, 4);
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3rem;
}
.between {
  position: absolute;
  top: 30%;
  width: 100%;
}

.again {
  top: 1rem;
}

.again:hover {
  background-color: rgb(197, 3, 3);
  transition: ease-out 0.4s;
  color: white;
}

.number {
  background: #eee;
  font-size: 1rem;
  color: #333;
  width: 8rem;
  padding: 1.5rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
/** Main Container **/

.main-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: auto;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/** New Class - Win Message **/
.win-message {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 2rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 3rem;
}

/** Hide input spinner **/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}
.check:hover {
  background-color: rgb(36, 94, 22);
  transition: ease-out 0.4s;
  color: white;
}

.message {
  margin-bottom: 4rem;
  height: 3rem;
  padding: 30px;
}

.label-score {
  margin-bottom: 2rem;
}

/** Media Queries **/

@media screen and (min-width: 600px) {
  .left {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (min-width: 801px) {
  .between {
    position: absolute;
    top: 2rem;
    right: 1rem;
    text-align: right;
  }

  .again {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .main-container {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .number {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  header {
    height: 200px;
  }
  h1 {
    top: 45%;
  }
}
